#previewMD{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: large;
    background-color: rgb(74, 74, 74);
    color: white;
    z-index: 1000;
    left: 0;
    bottom: 0;
    overflow: scroll;
    width: 400px;
    height: 500px;
    padding: 30px; 
    opacity: 0;
    cursor: pointer;
}
#previewMD:hover{
    opacity: 1;
}
#copyMd{
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
}